@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Merriweather&family=Roboto:wght@300&display=swap');

h2 {
    font-size: 20px;
    font-family: "Didact Gothic";
    color: black;
}

h3 {
    font-size: 30px;
    font-family: Roboto;
    color: lightgoldenrodyellow;
}

.container-berry-results {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

}