* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

}

.outer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: 2px dashed red;
}

.inner-container {
  display: flex;
  flex-direction: column;
  flex-basis: 1200px;
  flex-grow: 0;
  flex-shrink: 1;
  align-items: center;
  margin: 30px;
  border: 2px dashed blue;
  width: 100%;
}


.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px dashed black;
  padding: 10px;
  margin: 10px;

}

/* ======> header text styling*/

header h1 {
  font-size: 80px;
  font-weight:600;
  font-style: normal;
  font-family: "Arial Hebrew Scholar";
  border: 1px dashed black;
  padding: 5px;
  margin: 5px;
  background-image: linear-gradient(to right, darkslateblue, red);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}
